@use '../abstract' as *;

.about-container {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $white-color;
  
  h2 {
    font-size: 3rem;
  }

  .about-content {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 4rem;
    height: 80vh;
  
    .image-text-container {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
    
      img {
        height: 500px;
        width: 500px;
        border: 4px solid $main-color;
        border-radius: 10px;
      }
    }
  
    .about-text-container {
      flex: 1.5 1 0;
      display: flex;
      align-items: center;
  
      p {
        text-align: center;
        font-size: 2rem;
        font-weight: 200;
        padding: 0 2rem;
      }
      span {
       color: $main-color;
      }
    }
  
    h1 {
      position: absolute;
      bottom: 0;
      left: -250px;
      font-size: 240px;
      opacity: 0.15;
    }
  }

  @include min-device('lg-desktop') {
    width: 50%;
    
    h2 {
      font-size: 8rem;
      padding-top: 5rem;
    }
  
    .about-content {
      padding-bottom: 4rem;
      height: 80vh;
    
      .image-text-container {
        img {
          height: 700px;
          width: 700px;
        }
      }
    
      .about-text-container {
        p {
          font-size: 3rem;
          padding: 1 0.5rem;
        }
      }
    
      h1 {
        bottom: 325px;
        left: -450px;
        font-size: 300px;
      }
    }
  }

  @include between-devices('md-desktop', 'lg-desktop') {
    width: 70%;
    
    h2 {
      font-size: 5rem;
      padding-top: 5rem;
    }
  
    .about-content {
      padding-bottom: 4rem;
      height: 80vh;
    
      .image-text-container {
        img {
          height: 600px;
          width: 600px;
        }
      }
    
      .about-text-container {
        p {
          font-size: 2.5rem;
          padding: 0 0.5rem;
        }
      }
    
      h1 {
        bottom: 125px;
        left: -450px;
        font-size: 240px;
      }
    }
  }

  @include between-devices('sm-desktop', 'md-desktop') {
    h2 {
      font-size: 4rem;
      margin-top: 10rem;
    }
  }

  @include between-devices('lg-laptop', 'sm-desktop') {
    h2 {
      font-size: 2.75rem;
      padding-top: 2rem;
    }
  
    .about-content {
      height: 60vh;

      .image-text-container {
        margin-left: 3rem;
        img {
          height: 400px;
          width: 400px;
        }
      }
    
      .about-text-container {
        p {
          font-size: 1.5rem;
          padding: 0 3rem;
        }
      }
    
      h1 {
        left: -220px;
        top: 250px;
        font-size: 190px;
      }
    }
  }

  @include between-devices('md-laptop', 'lg-laptop') {
    width: 90%;
  
    h2 {
      font-size: 4rem;
    }
  
    .about-content {
      padding-bottom: 4rem;
      height: 70vh;
    
      .image-text-container {
        img {
          height: 425px;
          width: 425px;
        }
      }
    
      .about-text-container {    
        p {
          font-size: 1.6rem;
        }
      }
    
      h1 {
        position: absolute;
        bottom: -20px;
        left: -130px;
        font-size: 175px;
      }
    }
  }

  @include between-devices('sm-laptop', 'md-laptop') {
    width: 90%;

    h2 {
      font-size: 2.5rem;
    }
  
    .about-content {
      padding-bottom: 4rem;
      height: 60vh;
    
      .image-text-container {        
        img {
          height: 350px;
          width: 350px;
        }
      }
    
      .about-text-container {
        p {
          font-size: 1.25rem;
        }
      }
    
      h1 {
        position: absolute;
        bottom: -50px;
        left: -100px;
        font-size: 125px;
      }
    }
  }

  @include between-devices('tablet', 'sm-laptop') {
    width: 100%;

    h2 {
      margin-top: 2rem;
      font-size: 4rem;
      line-height: 2;
    }
  
    .about-content {
      flex-direction: column-reverse;
      padding: 0 1.5rem 1.5rem;
      height: 100%;
    
      .image-text-container {
        img {
          height: 350px;
          width: 350px;
        }
      }
    
      .about-text-container {    
        p {
          font-size: 1.5rem;
          padding: 0;
        }
      }
    
      h1 {
        top: 265px;
        left: -50px;
        font-size: 125px;
      }
    }
  }

  @include between-devices('lg-phone', 'tablet') {  
    width: 100%;

    h2 {
      margin-top: 5rem;
      font-size: 2.5rem;
    }

    .about-content {
      flex-direction: column-reverse;
      padding: 0 2rem 1.5rem;
      height: 100%;

      .image-text-container {
        img {
          height: 300px;
          width: 300px;
        }
      }
    
      .about-text-container {
        p {
          font-size: 1rem;
          padding: 0;
        }
      }
      
      h1 {
        top: 370px;
        left: -30px;
        font-size: 75px;
      }
    }
  }

  @include between-devices('md-phone', 'lg-phone') {
    width: 100%;

    h2 {
      margin-top: 4rem;
      font-size: 2rem;
    }

    .about-content {
      flex-direction: column-reverse;
      padding: 0 1.25rem 1.5rem;
      height: 100%;
    
      .image-text-container {
        img {
          height: 275px;
          width: 275px;
        }
      }
    
      .about-text-container {  
        p {
          font-size: 1rem;
          padding: 0;
        }
      }
    
      h1 {
        top: 325px;
        left: -30px;
        font-size: 75px;
      }
    }
  }

  @include max-device('md-phone') {
    width: 100%;

    h2 {
      margin-top: 6rem;
      font-size: 1.75rem;
    }

    .about-content {
      flex-direction: column-reverse;
      height: 100%;
      padding: 0 0.75rem 0.25rem;

    
      .image-text-container {
        img {
          height: 250px;
          width: 250px;
        }
      }
    
      .about-text-container {  
        p {
          font-size: 0.75rem;
          padding: 1.5rem;
        }
      }
    
      h1 {
        top: 275px;
        left: -20px;
        font-size: 50px;
      }
    }
  }
}

