@use '../abstract/' as *;

.footer-page {
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  color: $white-color;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 6rem;
      text-align: center;
      font-weight: 200;
    }

    p{
      word-wrap: break-word;
      width: 40%;
      font-size: 1.75rem;
      text-align: center;
      font-weight: lighter;
    }

    button {
      font-size: 1.5rem;
      font-weight: 200;
      background-color: $third-color;
      color: $white-color;
      border: 1px solid $main-color;
      padding: 0.75rem 1.5rem;
      border-radius: 10px;
      transition: transform 0.5s ease-in;
      margin: 2rem 0;
    }
  
    button:hover {
      transform: scale(1.2);
      cursor: pointer;
      background-color: $main-color;
      color: $secondary-color;
    }
  }

  .back-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem 5rem;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 1;

    img{ 
      height: 50px;
      width: 50px;
    }
  }

  @keyframes bounce {
    20%,50%,80%, to{
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    70% {
      transform: translateY(-15px);
    }
    90% {
      transform: translateY(-4px);
    }
  }
  
  .back-to-top:hover {
    cursor: pointer;
    color: $secondary-color;
    animation: bounce 1s linear;

  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem 5rem;
    font-size: 1.5rem;
    font-weight: 200;
    color: $dirty-white;
  }

  @include min-device('md-desktop') {
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60%;
  }

  @include between-devices('lg-laptop', 'sm-desktop') {
    .footer-content {
      width: 100%;
      h1 {
        font-size: 5rem;
      }
  
      p{
        width: 40%; 
        font-size: 1.15rem;
      }
  
      button {
        font-size: 1rem;
      }
    }
  
    .back-to-top {  
      img{ 
        height: 25px;
        width: 25px;
      }
    }
  
    footer {
      font-size: 1rem;
    }
  }

  @include between-devices('tablet-max', 'lg-laptop') { 
    height: 100vh;

    .footer-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 5.5rem;
      }
  
      p{
        width: 90%; 
        font-size: 1.5rem;
      }
  
      button {
        font-size: 1rem;
      }
    }
  
    .back-to-top {  
      img{ 
        height: 30px;
        width: 30px;
      }
    }
  
    footer {
      font-size: 1.25rem;
    }
  }

  @include between-devices('lg-phone', 'tablet-max') {
    height: 80vh;
    width: 100%;
  
    .footer-content {
      h1 {
        font-size: 6.5rem;
        line-height: 1.1;
      }
  
      p {
        width: 90%;
        font-size: 1.25rem;
        padding: 1rem 0.5rem;
      }
  
      button {
        font-size: 1rem;
        padding: 0.5rem 2rem;
      }
    }
  
    .back-to-top { 
      margin: 0.25rem 1rem;

      img{ 
        height: 30px;
        width: 30px;
      }
    }
    
    footer {
      font-size: 1.25rem;
    }
  }

  @include max-device('lg-phone') {
    height: 80vh;
    width: 100%;

    .footer-content {
      h1 {
        font-size: 5.5rem;
        line-height: 1.1;
      }
  
      p{
        width: 100%;
        font-size: 1.15rem;
        padding: 1rem 0.5rem;
      }

      button {
        font-size: 1rem;
        padding: 0.4rem 1.5rem;
      }
    }

    .back-to-top {
      margin: 0.25rem 1rem;

      img{ 
        height: 30px;
        width: 30px;
      }
    }
  
    footer {
      font-size: 1.25rem;
    }
  }

  @include max-device('tablet-max') {
    footer {
      padding: 1rem 4rem;
      font-size: 0.9rem;

      .homepage-socials {
        justify-content: center;    
        .socials-container {      
          .inner-container {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;

            li:first-child {
              display: none;
            }
          
            li {
              a {
                .svg-socials {
                  fill: white;
                  transition: fill 0.5s ease-in-out;
                  width: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}