@use '../abstract';


.homepage-about-me {
  height: 100%;
  width: 100%;
  flex: 1 1 0;
  display: flex;

  h3 {
    position: absolute;
    color: abstract.$white-color;
    font-size: 25px;
    font-weight: 200;
    padding: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.homepage-intro-button-wrapper {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  color: abstract.$white-color;


  .homepage-intro-text {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

    h1 {
      font-size: 275px;
      padding: 0;
      margin: 0 -0.75rem;
      margin-bottom: -5rem;
    }

    h2 {
      font-size: 60px;
      padding: 0;
      margin: -0.25rem 0;
    }

    .main-color-text {
      color: abstract.$main-color;
    }
  }

  .homepage-intro-text::after {
    content: '';
    display: block;
    position: absolute;
    width: 12rem;
    height: 5px;
    bottom: -35px;
    background: abstract.$main-color;
  }
}

.homepage-buttons {
  flex: 1 1 0;
  margin-top: 4rem;

  p {
    font-size: 1.75rem;
    font-weight: 200;
  }

  .buttons-wrap {
    display: flex;
    justify-content: space-between;
    width: 48%;
    margin: 1.5rem 0;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
      min-width: 14rem;
      text-align: center;
      border-radius: 10px;
      border: none;
      background-color: abstract.$secondary-color;
      color: abstract.$white-color;
      transition: transform 0.5s ease-in;

      .svg-download {
        margin-left: 0.25rem ;

      }

      .svg-download:hover {
        font-weight: 900;
        fill: abstract.$main-color;
      }
    }

    button:hover {
      color: abstract.$main-color;
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.homepage-socials {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;

  .socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;

    .inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 30%;
      list-style: none;

      .horizontal-line {
        position: relative;
      }
    
      .horizontal-line::after {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 13rem;
        bottom: 15px;
        background: abstract.$main-color;
        left: 50%;
        transform: translate(-50%);
      }
    
      li {
        a {
          .svg-socials {
            fill: white;
            transition: fill 0.5s ease-in-out;
        }
      }}

      li:nth-child(n+2):hover {
        cursor: pointer;
        animation: up 0.5s linear forwards;
        
        a {
          .svg-socials {
            fill: abstract.$main-color;
        }
      }
      }
      
      @keyframes up {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-5px);
        }
      }
    }
  }
}