@use '../abstract' as *;

.more-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;

  button {
    font-size: 1.5rem;
    font-weight: 200;
    background-color: $third-color;
    color: $white-color;
    padding: 0.75rem 1.5rem;
    border: 1px solid $main-color;
    border-radius: 10px;
    transition: transform 0.5s ease-in;
    animation: btn-animation 3s linear;
    margin: 3rem 0;
  }

  button:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: $main-color;
    color: $secondary-color;
  }

  @keyframes btn-animation {
    0% {
      opacity: 0,
    }
    100% {
      opacity: 1,
    }
  }

  .more-projects-container {
    width: 87.5%;
    display: grid;
    grid: auto-flow auto/ repeat(auto-fit, minmax(400px, 1fr)) ;
    gap: 2.5rem;
    
    .project-extra {
      padding: 1.5rem;
      display: grid;
      grid-template-areas:
      "name name logo"
      "description description description"
      "stack stack stack " ;
      color: $white-color;
      background-color: $third-color;
    }

    .project-extra-title {
      grid-area: name;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      h3 {
        font-weight: 400;
        padding: 0.5rem;
        font-size: 1.75rem;
        line-height: 1.25;
      }
    }    
    .project-extra-logo {
      grid-area: logo;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    

      .svg-featured {
        stroke: $white-color;
        width: 35px;
        height: 35px;
        margin: 0 0.5em;
        transition: stroke 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
      }

      .svg-featured:hover {
        transform: scale(1.2);
        cursor: pointer;
        stroke: $main-color;
      }
    }    
    
    .project-extra-description {
      grid-area: description;
      padding: 1.5rem 0;

      p {
        font-weight: 200;
        font-size: 1.2rem;
        color: $dirty-white;
        padding: 0.5rem 0;
      }
    }

    .project-extra-stack {
      grid-area: stack;

      ul {
        display: flex;

        li {  
          list-style: none;
          font-weight: lighter;
          font-size: 1.1rem;
          padding-right: 1.25rem;
        }
      }
    }
  }

  @include between-devices('lg-laptop', 'sm-desktop') {
    padding: 3.5rem 0;
  
    button {
      font-size: 1.25rem;
    }
  
    .more-projects-container {
      width: 86.5%;

      .project-extra-title {
        h3 {
          font-size: 1.6rem;
        }
      }    
      .project-extra-logo {
        .svg-featured {
          width: 35px;
        }
      }    
      
      .project-extra-description {
        p {
          font-size: 1.1rem;
        }
      }
  
      .project-extra-stack {
        ul {
          li {  
            font-size: 0.95rem;
          }
        }
      }
    }
  }

  @include between-devices('md-laptop', 'lg-laptop') {
    padding: 3.5rem 0;
  
    button {
      font-size: 1.25rem;
    }
  
    .more-projects-container {
      width: 88.25%;

      .project-extra-title {
        h3 {
          font-size: 1.6rem;
        }
      }    
      .project-extra-logo {
        .svg-featured {
          width: 35px;
        }
      }    
      
      .project-extra-description {
        p {
          font-size: 1.1rem;
        }
      }
  
      .project-extra-stack {
        ul {
          li {  
            font-size: 0.95rem;
          }
        }
      }
    }
  }

  @include between-devices('sm-laptop', 'md-laptop') {
    padding: 3rem 0;
  
    button {
      font-size: 1rem;
    }
  
    .more-projects-container {
      width: 90%;
  
      .project-extra-title {        
        h3 {
          font-size: 1.5rem;
        }
      }    
      .project-extra-logo {  
        .svg-featured {
          width: 30px;
          height: 30px;
        }
      }    
      
      .project-extra-description {
        p {
          font-size: 1rem;
        }
      }
  
      .project-extra-stack {
        ul {
          li {  
            font-size: 0.85rem;
          }
        }
      }
    }
  
  }

  @include between-devices('tablet-max', 'sm-laptop') {
    padding: 3rem 0;
    button {
      font-size: 1rem;
    }

    .more-projects-container {
      width: 90%;
      gap: 2rem;
  
      .project-extra-title {
        h3 {
          font-size: 1.5rem;
        }
      }    
      
      .project-extra-description {  
        p {
          font-size: 1rem;
        }
      }
  
      .project-extra-stack {
        ul {
          li {  
            font-size: 0.85rem;
          }
        }
      }
    }
  
  }

  @include between-devices('lg-phone-max', 'tablet-max') {

    .more-projects-container {
      width: 90%;
      grid-template-columns: 1fr;
      grid-auto-rows: 425px;
      
      .project-extra {
        padding: 1.5rem;
      }
  
      .project-extra-title {        
        h3 {
          padding: 1rem;
          font-size: 2.5rem;
        }
      }    
      .project-extra-logo {
        .svg-featured {
          width: 60px;
          height: 60px;
          margin: 0 0.5em;
        }
      }    
      
      .project-extra-description {
        padding: 2rem;

        p {
          text-align: center;
          font-size: 1.75rem;
        }
      }
  
      .project-extra-stack {
        ul {
          justify-content: center;

          li {  
            font-size: 1.5rem;
            padding: 0 1.75rem;
          }
        }
      }
    }
  }

    @include max-device('tablet-max') {
    button {
      font-size: 0.8rem;
    }

    .more-projects-container {
      width: 90%;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      gap: 2.5rem;
      
      .project-extra {
        padding: 1.5rem;
        margin: 0;
        width: 100%;
      }
  
      .project-extra-title {        
        h3 {
          padding: 1rem;
          font-size: 1.5rem;
        }
      }    
      .project-extra-logo {
        .svg-featured {
          width: 30px;
          height: 30px;
          margin: 0 0.5em;
        }
      }    
      
      .project-extra-description {
        padding: 1rem;

        p {
          text-align: center;
          font-size: 1.1rem;
        }
      }
  
      .project-extra-stack {
        ul {
          justify-content: center;

          li {  
            font-size: 0.75rem;
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}