@use '../abstract' as *;

nav {
  width: 100%;
  padding: 3rem 6rem;
  display: flex;
  justify-content: flex-end;
  
  ul {
  width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    list-style: none;

    li {
      text-decoration: none;
      font-size: 1.75rem;
      font-weight: 200;
      color: $white-color;
      
      h2 {
        flex: 1 1 0;
        text-align: center;
        font-size: 1.75rem;
        color: $white-color;
        transition: color 0.5s ease-in-out;
      }

      h2:hover {
        color: $main-color;
      }
    }

    li:hover {
      cursor: pointer;
      font-weight: 400;
    }
  }

  @include between-devices('lg-laptop', 'desktop') {
    padding: 3rem 4rem;

    ul {
      padding: 0 6rem;
  
      li {
        font-size: 1.5rem;
        
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  @include between-devices('sm-laptop', 'lg-laptop') {
    padding: 3rem;

    ul {
      padding: 0 5rem;
  
      li {
        font-size: 1.4rem;
        
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }

  @include between-devices('tablet', 'sm-laptop') {
    padding: 3rem 8rem;

    ul {
      padding: 0 4rem;
      li {
        font-size: 1.75rem;
        h2 {
          font-size: 1.75rem;
        }
      }
    }
  }

  @include max-device('tablet') {
    padding: 0;
    position: relative;
    z-index: 1;

    .hamburger-react {
      margin: 3.5rem;
    }
    
    ul {
      z-index: -1;
      position: absolute;
      height: 100vh;
      background-color: $main-color;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 4rem 8rem;
      right: 0;
      opacity: 1;
      animation: in 1s linear;


      li {
        font-size: 2.5rem;
        color: $dirty-white;
        
        h2 {
          display: none;
        }
      }
    }

    .slide-out {
      animation: out 1s linear;
    }

    .slide-in {
      animation: in 1s linear;

    }

    @keyframes in {
      0% {
        right: -1000px;
        opacity: 0;
      }
      50% {
        right: -500px;
        opacity: 0.6;
      }
      100% {
        right: 0px; 
        opacity: 1;
      }
    }
    @keyframes out {
      0% {
        right: 0px;
      }
      50% {
        right: -500px;
      }
      100% {
        right: -1000px;
      }
    }

    .hidden {
      display: none;
    }
  }


}