$devices: (
    sm-phone: 320px,
    md-phone: 375px,
    lg-phone: 425px,
    lg-phone-max: 475px,
    tablet: 768px,
    tablet-max: 769px, 
    sm-laptop: 1024px,
    md-laptop: 1280px,
    lg-laptop: 1440px,  
    sm-desktop: 1920px,
    
    md-desktop: 2560px,
    lg-desktop: 3840px,
);
