$devices: (
    sm-phone: 320px,
    md-phone: 375px,
    lg-phone: 425px,
    tablet: 768px,
    sm-laptop: 1024px,
    md-laptop: 1280px,
    lg-laptop: 1440px,  
    desktop: 1920px,
    sm-desktop: 1921px,
    md-desktop: 2049px,
    lg-desktop: 3841px,
);
