.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/homepage-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0a192f;
}

.content {
  width: 80%;
}

.homepage-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}